


<div class="wrapper">



    <section id="about">
        <div class="container">
            <div class="section-heading scrollpoint sp-effect3">
                <h1>Who we are and what we do</h1>
                <div class="divider"></div>
                <p>For more than 10 years, VTO has been one of the famous brands specializing in producing mid-high grade shower heads, shower arms, shower columns, shower fittings and faucets. We are committed to innovate unique products for those emphasizing details and pursuing perfect.</p>
                <p>With advanced equipment and excellent staff, VTO has got ACS, WaterMark, CUPC and TUV certificates for our products, and export the products all over the world. Mainly OEM for the world famous brands to Italy, Spain, Germany, France, North America, Middle East and South East Asia.</p>
                <p>VTO ECO line, developed and incorporated the Eco Air Turbo water saving technology into our eco range of rain showers, shower roses and hand showers. This brilliant technology reduces the water consumption without reduction on the water pressure.</p>
                <p>VTO concentrates on Innovation and Sustainable development: we have our own R&D department and new products come out every season, through continuous improvement of our management, an excellent leadership group with great talent and common value is established, and a modern joint-stock partners will be gradually establish through our continuous institutional innovation.</p>
                <h3>Welcome to VTO, and that’s where the amazing happens.</h3>
                <img style="height:auto; width:1100px;" src="img/eco/media/slideabout.jpg" alt="">
            </div>    
        </div>
    </section>

    <section id="benefit">
        <div class="container">
            <div class="section-heading scrollpoint sp-effect3">
                <h1>Benefit to Own</h1>
                <div class="divider"></div>
                <p>Americans use more than 1.2 trillion gallons of water every year showering. Eco Air-turbo is the world's first water-saving shower that can trim water usage in half. With California in its fourth year of severe drought, VTObath saw an opportunity to help saving water through Eco Air-turbo Shower innovative solution to water conservation. The brand is providing $62,000 in funds to help get Eco Air-turbo Shower into more showers. You will be able to compare your usage with other users, as well as track the trends and changes in water consumption of the entire hand Shower community.</p>
            </div>

            <div class="row">

                <div class="media media-left feature">
                    <a class="pull-left" href="#">
                        <i class="fa fa-plus-circle fa-2x"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">Eco Air-turbo boost your water flow once your maximum water open is reached making sure no water is wasted when you used.</h3>

                    </div>
                </div>
                <div class="media media-left feature">
                    <a class="pull-left" href="#">
                        <i class="fa fa-plus-circle fa-2x"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">Eco Air-turbo boost your water flow once your maximum water open is reached making sure no water is wasted when you used.</h3>

                    </div>
                </div>

                <div class="media feature">
                    <a class="pull-left" href="#">
                        <i class="fa fa-plus-circle fa-2x"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">An oxigens that combine with water when you are taking a shower can rehydrated body skins.</h3>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="philosophy">
        <div class="container">
            <div class="section-heading inverse scrollpoint sp-effect3">
                <h1>Our Philosophy</h1>
                <div class="divider"></div>
                <p>Our clients range from home owners to developers. Being competitive in pricing and offering our renowned customer service to all levels of clients, has proved to be rewarding. We carry a wide range of bathroom products & kitchen wares that are affordable and high in quality. In our journey to be become the biggest sanitary ware & kitchenware supplier in the market, we will constantly improve our service & collections, to be a one stop solutions provider for all your bathroom & kitchen upgrading needs.</p>
            </div>
            <div class="section-heading inverse scrollpoint sp-effect3">
                <h1>Currently the products we carry includes but not limited to:</h1>
                <div class="divider"></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 scrollpoint sp-effect1">
                    <div class="media media-left feature">
                        <a class="pull-left" href="#">
                            <i class="fa fa-plus-circle fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Basin Mixer / Basin Tap.</h3>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4" >
                    <div class="media media-left feature">
                        <a class="pull-left" href="#">
                            <i class="fa fa-plus-circle fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Sink Mixer / Sink Tap.</h3>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 scrollpoint sp-effect2">
                    <div class="media feature">
                        <a class="pull-left" href="#">
                            <i class="fa fa-plus-circle fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Stainless Steel Kitchen Sink.</h3>

                        </div>
                    </div>
                </div>
            </div>                

            <div class="row">
                <div class="col-md-4 col-sm-4 scrollpoint sp-effect1">
                    <div class="media media-left feature">
                        <a class="pull-left" href="#">
                            <i class="fa fa-plus-circle fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Granite Sink.</h3>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4" >
                    <div class="media media-left feature">
                        <a class="pull-left" href="#">
                            <i class="fa fa-plus-circle fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Wash Basin.</h3>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 scrollpoint sp-effect2">
                    <div class="media feature">
                        <a class="pull-left" href="#">
                            <i class="fa fa-plus-circle fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Wall Hung Basin.</h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4 scrollpoint sp-effect1">
                    <div class="media media-left feature">
                        <a class="pull-left" href="#">
                            <i class="fa fa-plus-circle fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Toilet Bowl</h3>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4" >
                    <div class="media media-left feature">
                        <a class="pull-left" href="#">
                            <i class="fa fa-plus-circle fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">Glass Basin.</h3>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 scrollpoint sp-effect2">
                    <div class="media feature">
                        <a class="pull-left" href="#">
                            <i class="fa fa-plus-circle fa-2x"></i>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">And much more!.</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

