

<div class="wrapper">


    <section id="collections">
        <div class="container-fluid">
            <div class="section-heading inverse scrollpoint sp-effect3">
                <h1>Collections</h1>
                <div class="divider"></div>
                <p>Choose your favourite series for your bathroom!</p>
            </div>

            <div class="zn_section_size container">
                <div class="row zn_columns_container zn_content " data-droplevel="1">
                    <div class="eluide5e29266  col-md-4 col-sm-4   zn_sortable_content zn_content" data-droplevel="2">
                        <div class="product-list-item imgboxes_style3">
                            <a class="hoverBorder" href="eternity.html" target="_blank">
                                <img style="width:360px;height:400px;padding:0.3cm 1cm; background-color:white;" src="image/eternity/eternity1.png" width="640" height="425" alt="ETERNITY SERIES" title="ETERNITY SERIES">
                            </a>
                            <h2 class="m_title imgboxes-title" style="text-align: center"> <strong>ETERNITY SERIES</strong></h2></div>
                        <!-- end span -->		</div>

                    <div class="eluid364ef958  col-md-4 col-sm-4   zn_sortable_content zn_content" data-droplevel="2">
                        <div class="product-list-item imgboxes_style1">
                            <a class="hoverBorder" href="product-category/eclipse/index.html" target="_blank">
                                <img style="width:360;height:400px;padding:0.3cm 1cm; background-color:white;" src="image/68370premiere.jpg" width="640" height="425" alt="ECLIPSE SERIES" title="ECLIPSE SERIES">
                            </a>
                            <h2 class="m_title imgboxes-title" style="text-align: center"><strong>ECLIPSE SERIES</strong></h2></div>
                        <!-- end span -->		</div>

                    <div class="eluid7f7844d8  col-md-4 col-sm-4   zn_sortable_content zn_content" data-droplevel="2">
                        <div class="product-list-item box image-boxes imgboxes_style1">
                            <a class="hoverBorder" href="product-category/mann/index.html" target="_blank">
                                <img style="width:360;height:400px;padding:0.25cm 2cm; background-color:white;" src="image/mann/525-MANN-04.png" width="640" height="426" alt="MANN SERIES" title="MANN SERIES">
                            </a>
                            <h2 class="m_title imgboxes-title" style="text-align: center"><strong>MANN SERIES</strong></h2></div>
                        <!-- end span -->		</div>

                </div>
                <div class="row zn_columns_container zn_content " data-droplevel="1">
                    <div class="eluide5e29266  col-md-4 col-sm-4   zn_sortable_content zn_content" data-droplevel="2">
                        <div class="product-list-item box image-boxes imgboxes_style1">
                            <a class="hoverBorder" href="product-category/stark/index.html" target="_blank">
                                <img style="width:360;height:400px;padding:0.25cm 2.25cm; background-color:white;" src="image/stark/525-STARK-04.PNG" width="640" height="425" alt="STARK SERIES" title="STARK SERIES">
                            </a>
                            <h2 class="m_title imgboxes-title" style="text-align: center"><strong>STARK SERIES</strong></h2></div>
                        <!-- end span -->		</div>

                    <div class="eluid364ef958  col-md-4 col-sm-4   zn_sortable_content zn_content" data-droplevel="2">
                        <div class="product-list-item box image-boxes imgboxes_style1">
                            <a class="hoverBorder" href="product-category/ego/index.html" target="_blank">
                                <img style="width:360;height:400px;padding:0.3cm 2.25cm; background-color:white;" src="image/ego/525-EGO-05.JPG" width="640" height="425" alt="EGO SERIES" title="EGO SERIES">
                            </a>
                            <h2 class="m_title imgboxes-title" style="text-align: center"><strong>EGO SERIES</strong></h2></div>
                        <!-- end span -->		</div>

                    <div class="eluid7f7844d8  col-md-4 col-sm-4   zn_sortable_content zn_content" data-droplevel="2">
                        <div class="product-list-item box image-boxes imgboxes_style1">
                            <a class="hoverBorder" href="product-category/infinity/index.html" target="_blank">
                                <img style="width:360px;height:400px; padding:0cm 0cm; background-color:white;" src="image/infinity/infinity4.JPG" width="640" height="426" alt="INFINITY SERIES" title="INFINITY SERIES">
                            </a>
                            <h2 class="m_title imgboxes-title" style="text-align: center"><strong>INFINITY SERIES</strong></h2></div>
                        <!-- end span -->		</div>

                </div>
                <div class="row zn_columns_container zn_content " data-droplevel="1">
                    <div class="eluide5e29266  col-md-4 col-sm-4   zn_sortable_content zn_content" data-droplevel="2">
                        <div class="product-list-item box image-boxes imgboxes_style1">
                            <a class="hoverBorder" href="product-category/american/index.html" target="_blank">
                                <img style="width:360px;height:400px; padding:1.25cm 0cm; background-color:white;" src="image/usa/5713A-03.png" width="640" height="425" alt="AMERICAN SERIES" title="AMERICAN SERIES">
                            </a>
                            <h2 class="m_title imgboxes-title" style="text-align: center"><strong>AMERICAN SERIES</strong></h2></div>
                        <!-- end span -->		</div>

                    <div class="eluid364ef958  col-md-4 col-sm-4   zn_sortable_content zn_content" data-droplevel="2">
                        <div class="product-list-item box image-boxes imgboxes_style1">
                            <a class="hoverBorder" href="product-category/ecoairturbo/index.html" target="_blank">
                                <img style="width:360px;height:400px; padding:0cm 2cm; background-color:white;" src="image/sample/TRES-2014-VTO.jpg" width="640" height="425" alt="ECO AIR TURBO" title="ECO AIR TURBO">
                            </a>
                            <h2 class="m_title imgboxes-title" style="text-align: center"><strong>ECO AIR TURBO</strong></h2></div>
                        <!-- end span -->		</div>
                    <div class="eluid7f7844d8  col-md-4 col-sm-4   zn_sortable_content zn_content" data-droplevel="2">
                        <div class="product-list-item box image-boxes imgboxes_style1">
                            <a class="hoverBorder" href="product-category/seveso/index.html" target="_blank">
                                <img style="width:360px;height:400px; padding:2cm 0cm; background-color:white;" src="image/sample/enlarge/545-VTD8645-04.jpg" width="640" height="426" alt="SEVESO KITCHEN SINK &amp; MIXER" title="SEVESO KITCHEN SINK &amp; MIXER">
                            </a>
                            <h2 class="m_title imgboxes-title" style="text-align: center"><strong>KITCHEN SINK &amp; MIXER</strong></h2></div>
                        <!-- end span -->		</div>

                </div>
            </div>


        </div>
    </section>


