<div class="wrapper">

       

        <section id="vtoeco">
            <div class="container">
                
              <div class="section-heading scrollpoint sp-effect3">
                    <h1>VTO ECO AIR TURBO SHOWER?</h1>
                    <div class="divider"></div>
                    <p>Eco Air -Turbo Rain shower is the latest eco technology from Germany with a water saving aeration device at its base. Air is continually injected into the water flow via its ventral hole. This increases both flow speed and water pressure while reducing water usage by 50% compared to standard showers.</p>
              </div>
              <div class="section-heading scrollpoint sp-effect3">
                    <h1>Technology How Its Work</h1>
                    <div class="divider"></div>
                    <p>Eco Air - Turbo Rain shower is designed to work with 90% of existing  shower sets using standard 1/2 inch pipe fittings.Modern and sleek, Eco Air - turbo looks great in every shower.</p>
                    <h2>Eco Air-turbo Shower pays for itself in less than a year.</h2>
                    <div class="divider"></div>
                    <p>With the increasing water shortage and  the average price of water rising and the majority of water being wasted in the shower, Eco Air - turbo shower will be able to pay for itself in less than one year.</p>
                    <h2>HOW IT WORKS</h2>
                    <div class="divider"></div>
                    <p>Water saving shower heads save you water, energy and money, yet provide you with luxurious showering experience you desire by maintaining your water PRESSURE.</p>
                    <div class="item">
                              <img src="img/eco/media/slideairturbo2.jpg"/>
                    </div>

                  </div>
                </div>
                                            
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 scrollpoint sp-effect2">
                            <div class="video-container" >
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/ZZkhnufA_40" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="section-heading scrollpoint sp-effect3">

                            </div>  
                        </div>
                    </div>
                </div>
                    
                <div class="container">       
                    <div class="row">
                            <div class="col-md-4 col-sm-4 scrollpoint sp-effect1">
                                <div class="media media-left feature">
                                    <a class="pull-left" href="#">
                                        <i class="fa fa-arrow-circle-right fa-2x"></i>
                                    </a>
                                    <div class="media-body">
                                        <h3 class="media-heading">Air is inhaled into water stream through a venturi device at the base of the handle to create a mix of water and air.</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4" >
                                <div class="media media-left feature">
                                    <a class="pull-left" href="#">
                                        <i class="fa fa-arrow-circle-right fa-2x"></i>
                                    </a>
                                    <div class="media-body">
                                        <h3 class="media-heading">This mixture increases the pressure inside the body of the shower head causing turbulence and spins the water in water molecules that are injected with air at high speed.</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 scrollpoint sp-effect2">
                                <div class="media feature">
                                    <a class="pull-left" href="#">
                                        <i class="fa fa-arrow-circle-right fa-2x"></i>
                                    </a>
                                    <div class="media-body">
                                        <h3 class="media-heading">Pressurised spa like shower spray gives an enjoyable full flow performance, delivering up to 50% savings of water whilst maintaining the pressure.</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>    
            
            
                <div class="section-heading scrollpoint sp-effect3">
                    <p>The traditional and flow regulated handheld showers still use far too much water. VTO ECO Air-Turbo offers a uniquely designed and manufactured handheld shower range of products. The water droplets are so comfortable, its lighter and softer impact against our skin. This provides you with a better and improved showering experience without wasting any more water. By using our patented designed aerated handheld showering products you no longer need to worry about your shower curtain sticking to your body whilst showering.</p>
                    <h1>WATER PRESSURE</h1>
                    <div class="divider"></div>
                    <p>Water pressure is a term used to describe the flow strength of water through a pipe or other type of channel. Indoor plumbing has made water pressure an indispensable part of life for many places throughout the world, however, many may not understand how it work, or how it can be improved. Water pressure depends on water flow. The more water being pushed through a pipe, the more pressure there will be naturally. Many people prefer high water pressure to low water pressure, as faucet valves and other tools can help maintain the flow of water at a lower rate. However, if it is too low, there is little that can be done to improve water pressure. As a result of this preference for higher water pressure, most people only become conscious of water pressure when it is no longer available. Fortunately, those dealing with VTO ECO Air-Turbo products have nothing to worry about. Water pressure in your shower is always maintained. Other brands use flow regulators or reducers that reduce water and significantly reduce water pressure. VTO ECO Air-Turbo has a unique product range that not only helps you to save up to 50% less water and energy without sacrificing on your water pressure.</p>
                </div>
            
            
                <div class="row">
                    <div class="col-md-12 col-sm-12 scrollpoint sp-effect1">
                        <div class="media feature" align="center">
                            <div class="media-body">
                                <img src="img/eco/media/vto-eco.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                    
        </section>
        
        <section id="collections">
            <div class="container-fluid">
                <div class="section-heading inverse scrollpoint sp-effect3">
                    <h1>Collections</h1>
                    <div class="divider"></div>
                    <p>Choose your favourite series for your bathroom!</p>
                </div>

                <div class="zn_section_size container">
                        <div class="row zn_columns_container zn_content " data-droplevel="1">
                            <div class="eluide5e29266  col-md-4 col-sm-4   zn_sortable_content zn_content" data-droplevel="2">
                                <div class="box image-boxes imgboxes_style1">
                                    <a class="product-list-item hoverBorder" href="product-category/eternity/index.html" target="_blank">
                                        <img style="width:auto;height:400px; padding:-0.3cm 1cm; background-color:white;" src="image/eternity/eternity1.png" alt="ETERNITY SERIES" title="ETERNITY SERIES">
                                    </a>
                                    <h1 class="m_title imgboxes-title"> <strong>ETERNITY SERIES</strong></h1></div>
                                <!-- end span -->		</div>

                            <div class="eluid364ef958  col-md-4 col-sm-4   zn_sortable_content zn_content" data-droplevel="2">
                                <div class="box image-boxes imgboxes_style1">
                                    <a class="product-list-item hoverBorder" href="product-category/eclipse/index.html" target="_blank">
                                        <img style="width:auto;height:400px;padding:0.3cm 1cm; background-color:white;" src="image/68370premiere.jpg" alt="ECLIPSE SERIES" title="ECLIPSE SERIES">
                                    </a>
                                    <h2 class="m_title imgboxes-title"><strong>ECLIPSE SERIES</strong></h2></div>
                                <!-- end span -->		</div>

                            <div class="eluid7f7844d8  col-md-4 col-sm-4   zn_sortable_content zn_content" data-droplevel="2">
                                <div class="box image-boxes imgboxes_style1">
                                    <a class="hoverBorder" href="product-category/mann/index.html" target="_blank">
                                        <img style="width:auto;height:400px;padding:0.25cm 2cm; background-color:white;" src="image/mann/525-MANN-04.png" alt="MANN SERIES" title="MANN SERIES">
                                    </a>
                                    <h2 class="m_title imgboxes-title"><strong>MANN SERIES</strong></h2></div>
                                <!-- end span -->		</div>

                        </div>
                        <div class="row zn_columns_container zn_content " data-droplevel="1">
                            <div class="eluide5e29266  col-md-4 col-sm-4   zn_sortable_content zn_content" data-droplevel="2">
                                <div class="box image-boxes imgboxes_style1">
                                    <a class="hoverBorder" href="product-category/stark/index.html" target="_blank">
                                        <img style="width:auto;height:400px;padding:0.25cm 2.25cm; background-color:white;" src="image/stark/525-STARK-04.PNG" alt="STARK SERIES" title="STARK SERIES">
                                    </a>
                                    <h2 class="m_title imgboxes-title"><strong>STARK SERIES</strong></h2></div>
                                <!-- end span -->		</div>

                            <div class="eluid364ef958  col-md-4 col-sm-4   zn_sortable_content zn_content" data-droplevel="2">
                                <div class="box image-boxes imgboxes_style1">
                                    <a class="hoverBorder" href="product-category/ego/index.html" target="_blank">
                                        <img style="width:auto;height:400px;padding:0.3cm 2.25cm; background-color:white;" src="image/ego/525-EGO-05.JPG" alt="EGO SERIES" title="EGO SERIES">
                                    </a>
                                    <h2 class="m_title imgboxes-title"><strong>EGO SERIES</strong></h2></div>
                                <!-- end span -->		</div>

                            <div class="eluid7f7844d8  col-md-4 col-sm-4   zn_sortable_content zn_content" data-droplevel="2">
                                <div class="box image-boxes imgboxes_style1">
                                    <a class="hoverBorder" href="product-category/infinity/index.html" target="_blank">
                                        <img style="width:310px;height:400px; padding:0cm 0cm; background-color:white;" src="image/infinity/infinity4.JPG" alt="INFINITY SERIES" title="INFINITY SERIES">
                                    </a>
                                    <h2 class="m_title imgboxes-title"><strong>INFINITY SERIES</strong></h2></div>
                                <!-- end span -->		</div>

                        </div>
                        <div class="row zn_columns_container zn_content " data-droplevel="1">
                            <div class="eluide5e29266  col-md-4 col-sm-4   zn_sortable_content zn_content" data-droplevel="2">
                                <div class="box image-boxes imgboxes_style1">
                                    <a class="hoverBorder" href="product-category/american/index.html" target="_blank">
                                        <img style="width:305px;height:400px; padding:1.25cm 0cm; background-color:white;" src="image/usa/5713A-03.png" alt="AMERICAN SERIES" title="AMERICAN SERIES">
                                    </a>
                                    <h2 class="m_title imgboxes-title"><strong>AMERICAN SERIES</strong></h2></div>
                                <!-- end span -->		</div>

                            <div class="eluid364ef958  col-md-4 col-sm-4   zn_sortable_content zn_content" data-droplevel="2">
                                <div class="box image-boxes imgboxes_style1">
                                    <a class="hoverBorder" href="product-category/ecoairturbo/index.html" target="_blank">
                                        <img style="width:305px;height:400px; padding:0cm 2cm; background-color:white;" src="image/sample/TRES-2014-VTO.jpg" alt="ECO AIR TURBO" title="ECO AIR TURBO">
                                    </a>
                                    <h2 class="m_title imgboxes-title"><strong>ECO AIR TURBO</strong></h2></div>
                                <!-- end span -->		</div>
                            <div class="eluid7f7844d8  col-md-4 col-sm-4   zn_sortable_content zn_content" data-droplevel="2">
                                <div class="box image-boxes imgboxes_style1">
                                    <a class="hoverBorder" href="product-category/seveso/index.html" target="_blank">
                                        <img style="width:310px;height:400px; padding:2cm 0cm; background-color:white;" src="image/sample/enlarge/545-VTD8645-04.jpg" alt="SEVESO KITCHEN SINK &amp; MIXER" title="SEVESO KITCHEN SINK &amp; MIXER">
                                    </a>
                                    <h2 class="m_title imgboxes-title"><strong>SEVESO KITCHEN SINK &amp; MIXER</strong></h2></div>
                                <!-- end span -->		</div>

                        </div>
                    </div>
                

            </div>
        </section>
               
        <section id="design">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>Design concept</h1>
                    <div class="divider"></div>
                    <p>VTO likes simple and minimalist design. Our design is the result in a combination of innovative technology and pioneering concept. We let tomorrow’s bathroom take shape today and serve as the benchmark in the industry. Functionality is never compromised. Enjoy the outstanding quality for many years to come.</p>
                <div class="col-md-12 col-sm-12 scrollpoint sp-effect5">
                        <div class="media media-left feature">
                            <div class="media-body">
                                <img src="img/eco/media/Designer.png" alt="designer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="partner">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>Partners Worldwide</h1>
                    <div class="divider"></div>
                    <p>Our partner worldwide across country.</p>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 scrollpoint sp-effect1">
                        <div class="media media-left feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-map-marker fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">VTOBath Germany.</h3>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4" >
                        <div class="media media-left feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-map-marker fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">VTOBath UK.</h3>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 scrollpoint sp-effect2">
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-map-marker fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">VTOBath USA.</h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 scrollpoint sp-effect1">
                        <div class="media media-left feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-map-marker fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">VTOBath Australia.</h3>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4" >
                        <div class="media media-left feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-map-marker fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">VTOBath Malaysia.</h3>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 scrollpoint sp-effect2">
                        <div class="media feature">
                            <a class="pull-left" href="#">
                                <i class="fa fa-map-marker fa-3x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">VTOBath Indonesia.</h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        

        <section id="contact" class="doublediagonal">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>Contact</h1>
                    <div class="divider"></div>
                    <p>For more info and support, contact us!</p>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8 col-sm-8 scrollpoint sp-effect1">
                                <form role="form" action="info@vtobath.com" method="POST">>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your email">
                                    </div>
                                    <div class="form-group">
                                        <textarea cols="30" rows="10" class="form-control" placeholder="Your message"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                </form>
                            </div>
                            <div class="col-md-4 col-sm-4 contact-details scrollpoint sp-effect2">
                                <div class="media">
                                    <a class="pull-left" href="#" >
                                        <i class="fa fa-map-marker fa-2x"></i>
                                    </a>
                                    <div class="media-body">
                                        <h2 class="media-heading">VTOBath HQ</h2>
                                        <h4 class="media-heading">Friedensstraße 11,<br> D-60311 Frankfurt am Main, GERMANY</h4>
                                    </div>
                                </div>
                                <div class="media">
                                    <a class="pull-left" href="#" >
                                        <i class="fa fa-envelope fa-2x"></i>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <a href="mailto:info@vtobath.com">info@vtobath.com</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>