<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="fa fa-bars fa-lg"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img src="img/eco/logo.png" alt="VTOlogo" class="logo">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">About Us</a>
                    <ul>
                        <li><a href="?page=about#whyvto">Why VTO</a></li>
                        <li><a href="?page=about#about">Who We Are</a></li>
                        <li><a href="?page=about#benefit">Benefit To Own</a></li>
                        <li><a href="?page=about#philosophy">Philosophy</a></li>
                    </ul>
                </li>
                <li><a href="">Eco AirTurbo</a>
                    <ul>
                        <li><a href="?page=eco#vtoeco">Eco AirTurbo</a></li>
                        <li><a href="?page=eco#impact">Enviromental Impact</a></li>
                    </ul>
                </li>
                <li><a href="?page=collections">Collections</a>
                </li>
                <li><a href="?page=design">Design Concept</a>
                </li>
                <li><a href="?page=partner">Partners Worldwide</a>
                </li>
                <li><a href="?page=contact">Contact Us</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-->
</nav>