@font-face {
  font-family: 'kl-social-icons';
  src: url('kl-social-icons6dd8.eot?64087631');
  src: url('kl-social-icons6dd8.eot?64087631#iefix') format('embedded-opentype'),
       url('kl-social-icons6dd8.woff?64087631') format('woff'),
       url('kl-social-icons6dd8.ttf?64087631') format('truetype'),
       url('kl-social-icons6dd8.svg?64087631#kl-social-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'kl-social-icons';
    src: url('kl-social-icons.svg?64087631#kl-social-icons') format('svg');
  }
}
*/

 [class^="sc-icon-"]:before, [class*=" sc-icon-"]:before {
  font-family: "kl-social-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.sc-icon-duckduckgo:before { content: '\e800'; } /* '' */
.sc-icon-aim:before { content: '\e801'; } /* '' */
.sc-icon-delicious:before { content: '\e802'; } /* '' */
.sc-icon-paypal:before { content: '\e803'; } /* '' */
.sc-icon-flattr:before { content: '\e804'; } /* '' */
.sc-icon-android:before { content: '\e805'; } /* '' */
.sc-icon-eventful:before { content: '\e806'; } /* '' */
.sc-icon-smashmag:before { content: '\e807'; } /* '' */
.sc-icon-gplus:before { content: '\e808'; } /* '' */
.sc-icon-wikipedia:before { content: '\e809'; } /* '' */
.sc-icon-lanyrd:before { content: '\e80a'; } /* '' */
.sc-icon-calendar:before { content: '\e80b'; } /* '' */
.sc-icon-stumbleupon:before { content: '\e80c'; } /* '' */
.sc-icon-fivehundredpx:before { content: '\e80d'; } /* '' */
.sc-icon-pinterest:before { content: '\e80e'; } /* '' */
.sc-icon-bitcoin:before { content: '\e80f'; } /* '' */
.sc-icon-w3c:before { content: '\e810'; } /* '' */
.sc-icon-foursquare:before { content: '\e811'; } /* '' */
.sc-icon-html5:before { content: '\e812'; } /* '' */
.sc-icon-ie:before { content: '\e813'; } /* '' */
.sc-icon-call:before { content: '\e814'; } /* '' */
.sc-icon-grooveshark:before { content: '\e815'; } /* '' */
.sc-icon-ninetyninedesigns:before { content: '\e816'; } /* '' */
.sc-icon-forrst:before { content: '\e817'; } /* '' */
.sc-icon-digg:before { content: '\e818'; } /* '' */
.sc-icon-spotify:before { content: '\e819'; } /* '' */
.sc-icon-reddit:before { content: '\e81a'; } /* '' */
.sc-icon-guest:before { content: '\e81b'; } /* '' */
.sc-icon-gowalla:before { content: '\e81c'; } /* '' */
.sc-icon-appstore:before { content: '\e81d'; } /* '' */
.sc-icon-blogger:before { content: '\e81e'; } /* '' */
.sc-icon-cc:before { content: '\e81f'; } /* '' */
.sc-icon-dribbble:before { content: '\e820'; } /* '' */
.sc-icon-evernote:before { content: '\e821'; } /* '' */
.sc-icon-flickr:before { content: '\e822'; } /* '' */
.sc-icon-google:before { content: '\e823'; } /* '' */
.sc-icon-viadeo:before { content: '\e824'; } /* '' */
.sc-icon-instapaper:before { content: '\e825'; } /* '' */
.sc-icon-weibo:before { content: '\e826'; } /* '' */
.sc-icon-klout:before { content: '\e827'; } /* '' */
.sc-icon-linkedin:before { content: '\e828'; } /* '' */
.sc-icon-meetup:before { content: '\e829'; } /* '' */
.sc-icon-vk:before { content: '\e82a'; } /* '' */
.sc-icon-plancast:before { content: '\e82b'; } /* '' */
.sc-icon-disqus:before { content: '\e82c'; } /* '' */
.sc-icon-rss:before { content: '\e82d'; } /* '' */
.sc-icon-skype:before { content: '\e82e'; } /* '' */
.sc-icon-twitter:before { content: '\e82f'; } /* '' */
.sc-icon-youtube:before { content: '\e830'; } /* '' */
.sc-icon-vimeo:before { content: '\e831'; } /* '' */
.sc-icon-windows:before { content: '\e832'; } /* '' */
.sc-icon-xing:before { content: '\e833'; } /* '' */
.sc-icon-yahoo:before { content: '\e834'; } /* '' */
.sc-icon-chrome:before { content: '\e835'; } /* '' */
.sc-icon-email:before { content: '\e836'; } /* '' */
.sc-icon-macstore:before { content: '\e837'; } /* '' */
.sc-icon-myspace:before { content: '\e838'; } /* '' */
.sc-icon-podcast:before { content: '\e839'; } /* '' */
.sc-icon-amazon:before { content: '\e83a'; } /* '' */
.sc-icon-steam:before { content: '\e83b'; } /* '' */
.sc-icon-cloudapp:before { content: '\e83c'; } /* '' */
.sc-icon-dropbox:before { content: '\e83d'; } /* '' */
.sc-icon-ebay:before { content: '\e83e'; } /* '' */
.sc-icon-facebook:before { content: '\e83f'; } /* '' */
.sc-icon-github:before { content: '\e840'; } /* '' */
.sc-icon-github-circled:before { content: '\e841'; } /* '' */
.sc-icon-googleplay:before { content: '\e842'; } /* '' */
.sc-icon-itunes:before { content: '\e843'; } /* '' */
.sc-icon-plurk:before { content: '\e844'; } /* '' */
.sc-icon-songkick:before { content: '\e845'; } /* '' */
.sc-icon-lastfm:before { content: '\e846'; } /* '' */
.sc-icon-gmail:before { content: '\e847'; } /* '' */
.sc-icon-pinboard:before { content: '\e848'; } /* '' */
.sc-icon-openid:before { content: '\e849'; } /* '' */
.sc-icon-quora:before { content: '\e84a'; } /* '' */
.sc-icon-soundcloud:before { content: '\e84b'; } /* '' */
.sc-icon-tumblr:before { content: '\e84c'; } /* '' */
.sc-icon-eventasaurus:before { content: '\e84d'; } /* '' */
.sc-icon-wordpress:before { content: '\e84e'; } /* '' */
.sc-icon-yelp:before { content: '\e84f'; } /* '' */
.sc-icon-intensedebate:before { content: '\e850'; } /* '' */
.sc-icon-eventbrite:before { content: '\e851'; } /* '' */
.sc-icon-scribd:before { content: '\e852'; } /* '' */
.sc-icon-posterous:before { content: '\e853'; } /* '' */
.sc-icon-stripe:before { content: '\e854'; } /* '' */
.sc-icon-opentable:before { content: '\e855'; } /* '' */
.sc-icon-cart:before { content: '\e856'; } /* '' */
.sc-icon-print:before { content: '\e857'; } /* '' */
.sc-icon-angellist:before { content: '\e858'; } /* '' */
.sc-icon-instagram:before { content: '\e859'; } /* '' */
.sc-icon-dwolla:before { content: '\e85a'; } /* '' */
.sc-icon-appnet:before { content: '\e85b'; } /* '' */
.sc-icon-statusnet:before { content: '\e85c'; } /* '' */
.sc-icon-acrobat:before { content: '\e85d'; } /* '' */
.sc-icon-drupal:before { content: '\e85e'; } /* '' */
.sc-icon-buffer:before { content: '\e85f'; } /* '' */
.sc-icon-pocket:before { content: '\e860'; } /* '' */
.sc-icon-bitbucket:before { content: '\e861'; } /* '' */
.sc-icon-lego:before { content: '\e862'; } /* '' */
.sc-icon-login:before { content: '\e863'; } /* '' */
.sc-icon-stackoverflow:before { content: '\e864'; } /* '' */
.sc-icon-hackernews:before { content: '\e865'; } /* '' */
.sc-icon-lkdto:before { content: '\e866'; } /* '' */
.sc-icon-picasa:before { content: '\e867'; } /* '' */
.sc-icon-deviantart:before { content: '\e868'; } /* '' */
.sc-icon-friendfeed:before { content: '\e869'; } /* '' */
.sc-icon-slideshare:before { content: '\e86a'; } /* '' */
.sc-icon-cloud:before { content: '\e86b'; } /* '' */
.sc-icon-bebo:before { content: '\e86c'; } /* '' */
.sc-icon-envato:before { content: '\e86d'; } /* '' */
.sc-icon-gosquared:before { content: '\e86e'; } /* '' */
.sc-icon-icloud:before { content: '\e86f'; } /* '' */
.sc-icon-technorati:before { content: '\e870'; } /* '' */