/*
Theme Name:     Kallyas Child Theme
Theme URI:      http://hogash-demos.com/kallyas_wp/
Description:    Child theme for the Kallyas theme
Author:         Hogash
Author URI:     http://themeforest.net/user/hogash
Template:       kallyas
Version:        4.0.0
Tags: dark, light, left-sidebar, right-sidebar, fluid-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style, full-width-template, theme-options, translation-ready
Text Domain:  zn_framework
*/

/* Cat Title */

.woocommerce .page-title { text-transform: uppercase; font-weight: 700; }

/* Icon list (for demo purposes) */
.kl-icon-list {margin: 0 0 30px; padding: 0px; list-style:none;}
.kl-icon-list li {width: 10%; display: inline-block;font-size: 18px;margin: 0 2px 10px;text-align: center;float: left;padding: 15px 0;border-radius: 3px;border: 1px solid transparent; color:#999; -webkit-transition:all .15s ease-out; transition:all .15s ease-out;}
.kl-icon-list li:hover {border-color:#ddd;  color:#535353;}

/* Call to action button in demo */
.buybtn-panel {position: fixed; z-index: 999; bottom: 50px; left:0; padding: 20px 50px 20px 20px; background: rgba(0,0,0,0.7); -webkit-transition: left .3s ease-out; transition: left .3s ease-out }
.buybtn-close {position: absolute; top: 0; cursor: pointer; display: block; height: 82px; width:30px; right: 0; font-size: 18px; color: rgba(255,255,255,.69); line-height: 80px; border-left: 1px solid rgba(255,255,255,.16); padding: 0; text-align:center; }
.buybtn-close:before { content:"\00d7"; }
.buybtn-close:hover {color: rgba(255,255,255,.9) }
 .buybtn-cta {background: #21cacd; border-radius: 2px; padding: 10px 20px; color: #fff; font-weight: 600; font-size: 12px; width: 160px; display: inline-block; text-align: center; }
.buybtn-cta span {opacity:.5; display:inline-block; border-left:1px solid #fff; width:1px; margin:0 5px;height: 20px;vertical-align: middle;}
.buybtn-cta:hover,.buybtn-cta:focus {background: #fff; color: #21cacd }
.buybtn-panel.is-hidden {left:-200px; }
.buybtn-panel.is-hidden .buybtn-close:before { content:"\203A"; font-size:24px; }

@media screen and (max-width: 767px){
	.buybtn-panel {padding-top:10px; padding-bottom:10px; }
	.buybtn-cta { padding:5px 12px; font-size:12px;}
	.buybtn-close { height: 60px; line-height: 60px; }
}
/* autoprefixer fix for calc */
.process_steps--style2 .process_steps__container { padding-right: calc( ( ( 100vw - 1170px ) / 2)- -15px );}
.process_steps--style2 .process_steps__container:before { padding-right: calc( ( ( 100vw - 1170px ) / 2)- -60px ); }
.process_steps--style2 .process_steps__intro {padding-left: calc( ( ( 100vw - 1170px ) / 2)- -15px );}
/* MQ's */
@media screen and (min-width: 992px) and (max-width: 1199px){
	.process_steps--style2 .process_steps__container { padding-right: calc( ( ( 100vw - 970px ) / 2)- -15px );}
	.process_steps--style2 .process_steps__container:before { padding-right: calc( ( ( 100vw - 970px ) / 2)- -60px );}
	.process_steps--style2 .process_steps__intro { padding-left: calc( ( ( 100vw - 970px ) / 2)- -15px );}
}
@media screen and (min-width: 768px) and (max-width: 991px){
	.process_steps--style2 .process_steps__container:before {padding: 0;}
}
@media screen and (max-width: 767px){
	.process_steps--style2 .process_steps__intro {padding:30px; }
	.process_steps--style2 .process_steps__container:before {padding: 0;}
}

/* Demo Panel Styles */
/* Boxed Bg Image */
.boxed-bgimage {}

.dp-hide-cart #header .topnav--cart,
.dp-hide-soc-icons #header .social-icons.topnav,
.dp-hide-login-btn #header .topnav--log,
.dp-hide-search #header .header-search,
.dp-hide-toptext #header .kl-header-toptext,
.dp-hide-support #header .topnav--sliding-panel,
.dp-hide-langmenu #header .topnav--lang {display:none !important;}